grpcio==1.31.0
grpcio-reflection==1.31.0
grpcio-tools==1.31.0
mypy-protobuf==1.20
git+https://github.com/ondewo/ondewo-nlu-client-python.git@4fef3df0c4d8f9b7f23cac0430081f9f80167d75#egg=ondewo-nlu-client-python
git+https://github.com/ondewo/ondewo-s2t-client-python.git@7c2a620fcfffb2dce31af32128db167be6fca1d7#egg=ondewo-s2t-client
git+https://github.com/ondewo/ondewo-t2s-client-python.git@b05cd636e33deb9f5b49a12f5add015b11fe20c0#egg=ondewo-t2s-client

pyaudio~=0.2.11
pysoundio~=1.1.0
setuptools~=52.0.0